name: Build and deploy docs

on:
  push:
    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install pandoc
      run: |
        sudo apt-get -y install pandoc
    - name: Set up Python
      with:
        python-version: '3.11'
        cache: 'pip'
      uses: actions/setup-python@v6.0.0
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip cryptography
        pip install wheel numpy Cython
        pip install biom-format
        pip install -e .
        pip install "sphinx>=6.0" "nbsphinx>=0.9.0" furo sphinx-autoapi recommonmark
    - name: Build docs
      run: |
        cp NEWS.md docs/source
        cd docs && make html
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
