# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: [3.7, 3.8]
    runs-on: "${{matrix.os}}"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip cryptography
        pip install wheel numpy Cython
        pip install biom-format
        pip install -e .
    - name: install CPLEX
      run: pip install cplex
      if: (matrix.python-version == '3.7') || (matrix.python-version == '3.8')
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=89 --statistics
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest --cov=micom --cov-report=xml
    - name: Upload to codecov
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.8
      uses: codecov/codecov-action@v1

  release:
      needs: test
      if: startsWith(github.ref, 'refs/tags')
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest]
          python-version: [3.8]

      steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Please see https://github.com/micom-dev/micom/blob/master/NEWS.md for the full release notes.
          draft: false
          prerelease: false
